<tr>
  <td><%= term.index %></td>
  <td><%= term.due_on.strftime('%d/%m/%Y') %></td>
  <td><%= term.period_amount_to_pay %></td>
  <td><%= term.period_capital %></td>
  <td><%= term.period_interests %></td>
  <td><%= term.crd_end_of_period %></td>
  <td><%= term.total_paid_capital_end_of_period %></td>
  <td><%= term.total_paid_interests_end_of_period %></td>
</tr>
